@font-face {
  font-family: "iconfont"; /* Project id 4193172 */
  src: url('//at.alicdn.com/t/c/font_4193172_8zh06tfz53.woff2?t=1691399614819') format('woff2'),
       url('//at.alicdn.com/t/c/font_4193172_8zh06tfz53.woff?t=1691399614819') format('woff'),
       url('//at.alicdn.com/t/c/font_4193172_8zh06tfz53.ttf?t=1691399614819') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-setting:before {
  content: "\e66e";
}

.icon-chat:before {
  content: "\e68b";
}

.icon-fold:before {
  content: "\e64e";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-copy:before {
  content: "\e60e";
}

.icon-delete:before {
  content: "\e662";
}

.icon-reload:before {
  content: "\e67e";
}

.icon-square:before {
  content: "\e869";
}

.icon-stop:before {
  content: "\e8e0";
}
