@font-face {
  font-family: "iconfont"; /* Project id 4193172 */
  src: url('//at.alicdn.com/t/c/font_4193172_1hzyhaeehkw.woff2?t=1690915362276') format('woff2'),
       url('//at.alicdn.com/t/c/font_4193172_1hzyhaeehkw.woff?t=1690915362276') format('woff'),
       url('//at.alicdn.com/t/c/font_4193172_1hzyhaeehkw.ttf?t=1690915362276') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-copy:before {
  content: "\e60e";
}

.icon-delete:before {
  content: "\e662";
}

.icon-reload:before {
  content: "\e67e";
}

.icon-square:before {
  content: "\e869";
}

.icon-stop:before {
  content: "\e8e0";
}
